@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;    
}

body {
    background-image: linear-gradient(to left, #27224A, #323055, #33325A, #434665, #444D6E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #8590b9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0E0D37;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(#000000);
}

h2 {
    color: #2E3A60;
}
p { 
    text-align: justify;
}